TJ Zhang

In [55]:
from tqdm.auto import tqdm
import requests
import pandas as pd
import numpy as np
rng = np.random.RandomState(20211209)

links = pd.read_csv("ml-25m/links.csv")
linksample = links.sample(n=10, random_state=rng)#random select 10
TMDB_KEY = "75d96e4d8e560b74c506e16ef0dbb479"
tmdb_ids = linksample["tmdbId"]
tmdb_details = []
for mid in tqdm(tmdb_ids):
    res = requests.get(f'https://api.themoviedb.org/3/movie/{mid}',
                        params={'api_key': TMDB_KEY})
    tmdb_details.append(res.json())

# from pandas.io.json import json_normalize
# json_normalize

  0%|          | 0/10 [00:00<?, ?it/s]

In [56]:
linksample

       movieId   imdbId    tmdbId
28121   130968    85320  149926.0
30936   137365    79135   29562.0
49272   178527  4579914  412361.0
57502   196497    99860  284713.0
58270   198255  7694738  497796.0
18393    96407  1690455   83384.0
42291   163547  3958780  347033.0
7042      7167   304229   13433.0
19984   103639  2356180  206324.0
43624   166484   918485   26370.0

In [57]:
tmdb_details

[{'adult': False,
  'backdrop_path': '/oye1k8ZKtG5NIk73wzU8ty7ml6K.jpg',
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 18, 'name': 'Drama'}],
  'homepage': '',
  'id': 149926,
  'imdb_id': 'tt0085320',
  'original_language': 'en',
  'original_title': 'Champions',
  'overview': 'The true story of jockey Bob Champion who overcame cancer to win the 1981 Grand National',
  'popularity': 3.181,
  'poster_path': '/dvwstpp4znhQYjZf9lRDIbUmXjd.jpg',
  'production_companies': [{'id': 8845,
    'logo_path': None,
    'name': 'Ladbroke',
    'origin_country': ''},
   {'id': 26373,
    'logo_path': None,
    'name': 'United British Artists (UBA)',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}],
  'release_date': '1984-04-20',
  'revenue': 0,
  'runtime': 106,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'}],
  'status': 'Released',
  'tagline': '',
  'title': 'Champions',
  'video': False,
  'vote_average': 7.0,
  'vote_count': 12},
 {'adult': False,
  'backdrop_path': '/tuMjazRIINQRGRrNMbl71ktjLVm.jpg',
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 27, 'name': 'Horror'}, {'id': 18, 'name': 'Drama'}],
  'homepage': '',
  'id': 29562,
  'imdb_id': 'tt0079135',
  'original_language': 'fr',
  'original_title': 'Fascination',
  'overview': 'A thief seeks refuge in a castle owned by two women, Eva and Elizabeth. The women are seductive and teasing, but turn out to be part of a vampiric cult of blood-drinking aristocrats.',
  'popularity': 5.096,
  'poster_path': '/jQnhEU3LURTgGJxZR0DWbvO3WGy.jpg',
  'production_companies': [{'id': 21735,
    'logo_path': None,
    'name': 'Comex',
    'origin_country': ''},
   {'id': 7996,
    'logo_path': None,
    'name': 'Films A.B.C.',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'FR', 'name': 'France'}],
  'release_date': '1979-11-01',
  'revenue': 0,
  'runtime': 80,
  'spoken_languages': [{'english_name': 'French',
    'iso_639_1': 'fr',
    'name': 'Français'}],
  'status': 'Released',
  'tagline': '',
  'title': 'Fascination',
  'video': False,
  'vote_average': 6.2,
  'vote_count': 58},
 {'adult': False,
  'backdrop_path': '/urbvxSot8CW4jOp0tEkcNqFR5uI.jpg',
  'belongs_to_collection': {'id': 413731,
   'name': 'Nitro Collection',
   'poster_path': '/7jAwq6kqimwZ6aEeCg7UUJjO8ze.jpg',
   'backdrop_path': '/lprDqy8u2j6NyU0UDfbhcxXAgfF.jpg'},
  'budget': 0,
  'genres': [{'id': 28, 'name': 'Action'}],
  'homepage': '',
  'id': 412361,
  'imdb_id': 'tt4579914',
  'original_language': 'fr',
  'original_title': 'Nitro Rush',
  'overview': 'In the follow up to the box-office hit Nitro (2007), we catch up with Max as he serves time for the role he played in the death of a police officer. When the film begins, Max learns that his 17-year-old son Theo has just been recruited by a criminal organization. Desperate to get him out of this situation, Max escapes from prison. He discovers that Theo and his best friend Charly have fallen under the control of Daphne, an alluring femme fatale, who is taking advantage of the teens’ expert computer skills to plan a bold and risky burglary. Quickly understanding he’ll be unable to persuade his son to walk away from it all, Max joins the team in order to protect them. His driving skills and his athletic prowess will prove to be invaluable assets in this action-packed sequel.',
  'popularity': 7.388,
  'poster_path': '/xndXcYyZ3OePSLKdVBevQZKPsXE.jpg',
  'production_companies': [{'id': 46682,
    'logo_path': '/ybNfe9vMywnjygOODnm7QYw9rvQ.png',
    'name': 'Attraction Images',
    'origin_country': 'CA'}],
  'production_countries': [{'iso_3166_1': 'CA', 'name': 'Canada'}],
  'release_date': '2016-08-31',
  'revenue': 0,
  'runtime': 96,
  'spoken_languages': [{'english_name': 'French',
    'iso_639_1': 'fr',
    'name': 'Français'}],
  'status': 'Released',
  'tagline': "A deadly drug is on the streets. They're going to steal it.",
  'title': 'Nitro Rush',
  'video': False,
  'vote_average': 5.8,
  'vote_count': 19},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 18, 'name': 'Drama'},
   {'id': 878, 'name': 'Science Fiction'}],
  'homepage': '',
  'id': 284713,
  'imdb_id': 'tt0099860',
  'original_language': 'ru',
  'original_title': 'Искушение Б.',
  'overview': "The story of a writer who accidentally stumbles across the elixir of immortality and in doing so encounters the small group of immortals who have jealously guarded this secret for centuries. Once the writer has knowledge of this elixir, called 'Mafussalin', the group of five immortals give him a stark choice: either join them, with the price of admission, being a duel to the death between the immortal who accidentally gave the secret away or death at the hands of the group. As the writer makes up his mind, sometimes aided and at other times opposed by the ever shifting alliances from within the group, we discover how the other immortals became this way, their true ages and what they have done with this 'gift'.",
  'popularity': 1.997,
  'poster_path': '/jDMMPTpWzrqZUGyHPmTU6OF4aSI.jpg',
  'production_companies': [{'id': 24737,
    'logo_path': None,
    'name': 'Laterna Film',
    'origin_country': ''},
   {'id': 25606,
    'logo_path': '/eSlqpXsyQW7u059lOnSsXtUakLl.png',
    'name': 'Gosfilmfond Russia',
    'origin_country': 'RU'}],
  'production_countries': [{'iso_3166_1': 'RU', 'name': 'Russia'}],
  'release_date': '1991-07-01',
  'revenue': 0,
  'runtime': 84,
  'spoken_languages': [{'english_name': 'Russian',
    'iso_639_1': 'ru',
    'name': 'Pусский'}],
  'status': 'Released',
  'tagline': '',
  'title': 'Temptation of B.',
  'video': False,
  'vote_average': 6.0,
  'vote_count': 8},
 {'adult': False,
  'backdrop_path': '/uWyXmGhY8WaHx1tZ5SqBsnW0rQh.jpg',
  'belongs_to_collection': {'id': 507070,
   'name': 'Best F(r)iends Collection',
   'poster_path': '/rCrsUJ8ZywZbFhfrJCKyZ9G0S6X.jpg',
   'backdrop_path': '/4TfqPPMWnMwBD4D79waxKO9Jtf4.jpg'},
  'budget': 0,
  'genres': [{'id': 28, 'name': 'Action'},
   {'id': 35, 'name': 'Comedy'},
   {'id': 53, 'name': 'Thriller'}],
  'homepage': 'https://www.bf-movie.com/',
  'id': 497796,
  'imdb_id': 'tt7694738',
  'original_language': 'en',
  'original_title': 'Best F(r)iends: Volume 2',
  'overview': 'As Jon makes a run for it, he finds himself on an expedition across the Southwest, where he encounters wild and crazy characters through a series of twisted and dark foibles. While his misadventure teaches him a valuable lesson about friendship and loyalty, the Mortician carries the story home with more than a few surprises.',
  'popularity': 5.913,
  'poster_path': '/mOj6rXKsvZU62cX4pVWyX33ibdR.jpg',
  'production_companies': [{'id': 113878,
    'logo_path': None,
    'name': 'Sestero Pictures',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2018-06-01',
  'revenue': 0,
  'runtime': 93,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'}],
  'status': 'Released',
  'tagline': 'Unmask the truth',
  'title': 'Best F(r)iends: Volume 2',
  'video': False,
  'vote_average': 5.2,
  'vote_count': 26},
 {'adult': False,
  'backdrop_path': '/hMElgK4nwBfIFCWYII9jqcRj2qb.jpg',
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 18, 'name': 'Drama'}],
  'homepage': '',
  'id': 83384,
  'imdb_id': 'tt1690455',
  'original_language': 'en',
  'original_title': 'Dark Horse',
  'overview': "Abe is a man who is in his thirties and who lives with his parents. He works regretfully for his father while pursuing his hobby of collecting toys. Aware that his family doesn't think highly of him, he tries to spark a relationship with Miranda, who recently moved back home after a failed literary/academic career. Miranda agrees to marry Abe out of desperation, but things go awry.",
  'popularity': 9.195,
  'poster_path': '/47nbkrQQSdFKJY9BwR6rfeTOvWk.jpg',
  'production_companies': [{'id': 9019,
    'logo_path': None,
    'name': 'Double Hope Films',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2011-09-05',
  'revenue': 0,
  'runtime': 86,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'}],
  'status': 'Released',
  'tagline': '',
  'title': 'Dark Horse',
  'video': False,
  'vote_average': 5.7,
  'vote_count': 78},
 {'adult': False,
  'backdrop_path': '/9pgHdDy43KeGQiODBNye3ltjxY3.jpg',
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 18, 'name': 'Drama'}],
  'homepage': '',
  'id': 347033,
  'imdb_id': 'tt3958780',
  'original_language': 'en',
  'original_title': 'Equity',
  'overview': 'Senior investment banker Naomi Bishop’s world of high-power big money is brutal and fierce, and one she thrives in. When a controversial IPO threatens the fragile balance of power and confidentiality, Naomi finds herself entangled in a web of politics and deception.',
  'popularity': 8.057,
  'poster_path': '/rCl96gJRjX4R1l1jArouQpPc5qw.jpg',
  'production_companies': [{'id': 56950,
    'logo_path': None,
    'name': 'Broad Street Pictures',
    'origin_country': ''}],
  'production_countries': [{'iso_3166_1': 'US',
    'name': 'United States of America'}],
  'release_date': '2016-07-29',
  'revenue': 1605463,
  'runtime': 100,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'}],
  'status': 'Released',
  'tagline': 'On Wall Street, all players are not created equal',
  'title': 'Equity',
  'video': False,
  'vote_average': 5.7,
  'vote_count': 75},
 {'adult': False,
  'backdrop_path': '/axbwKo8v7z3DgCE3AIlCMhw8R0v.jpg',
  'belongs_to_collection': None,
  'budget': 5740000,
  'genres': [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}],
  'homepage': '',
  'id': 13433,
  'imdb_id': 'tt0304229',
  'original_language': 'en',
  'original_title': 'Japanese Story',
  'overview': "Sandy, a geologist, finds herself stuck on a field trip to the Pilbara desert with a Japanese man she finds inscrutable, annoying and decidedly arrogant. Hiromitsu's view of her is not much better. Things go from bad to worse when they become stranded in one of the most remote regions on Earth.",
  'popularity': 6.791,
  'poster_path': '/bgazOSULGJSF2DNnyfWkOWn74ei.jpg',
  'production_companies': [{'id': 1615,
    'logo_path': None,
    'name': 'Fortissimo Films',
    'origin_country': ''},
   {'id': 93441,
    'logo_path': None,
    'name': 'Gecko Films',
    'origin_country': ''},
   {'id': 1380,
    'logo_path': None,
    'name': 'Australian Film Finance Corporation',
    'origin_country': 'AU'}],
  'production_countries': [{'iso_3166_1': 'AU', 'name': 'Australia'}],
  'release_date': '2003-08-30',
  'revenue': 4098613,
  'runtime': 110,
  'spoken_languages': [{'english_name': 'English',
    'iso_639_1': 'en',
    'name': 'English'},
   {'english_name': 'Japanese', 'iso_639_1': 'ja', 'name': '日本語'}],
  'status': 'Released',
  'tagline': '',
  'title': 'Japanese Story',
  'video': False,
  'vote_average': 6.5,
  'vote_count': 56},
 {'adult': False,
  'backdrop_path': '/eryhpwnyvEWnsDapQ9jwbam8itA.jpg',
  'belongs_to_collection': None,
  'budget': 4600000,
  'genres': [{'id': 36, 'name': 'History'},
   {'id': 28, 'name': 'Action'},
   {'id': 18, 'name': 'Drama'}],
  'homepage': '',
  'id': 206324,
  'imdb_id': 'tt2356180',
  'original_language': 'hi',
  'original_title': 'भाग मिल्खा भाग',
  'overview': 'The true story of the "Flying Sikh" world champion runner and Olympian Milkha Singh who overcame the massacre of his family, civil war during the India-Pakistan partition, and homelessness to become one of India\'s most iconic athletes.',
  'popularity': 7.86,
  'poster_path': '/sBBPPAJ4Y5J3LuhFxFPWII46THZ.jpg',
  'production_companies': [{'id': 6808,
    'logo_path': '/xa1Yz7B5eRC2F9oHA6mDn8NE6ci.png',
    'name': 'Viacom 18 Motion Pictures',
    'origin_country': 'IN'}],
  'production_countries': [{'iso_3166_1': 'IN', 'name': 'India'}],
  'release_date': '2013-07-12',
  'revenue': 25000000,
  'runtime': 186,
  'spoken_languages': [{'english_name': 'Hindi',
    'iso_639_1': 'hi',
    'name': 'हिन्दी'}],
  'status': 'Released',
  'tagline': 'Now you will see his Real Story.',
  'title': 'Bhaag Milkha Bhaag',
  'video': False,
  'vote_average': 7.5,
  'vote_count': 178},
 {'adult': False,
  'backdrop_path': None,
  'belongs_to_collection': None,
  'budget': 0,
  'genres': [{'id': 36, 'name': 'History'}, {'id': 99, 'name': 'Documentary'}],
  'homepage': 'http://www.channel4.com/programmes/638-ways-to-kill-castro',
  'id': 26370,
  'imdb_id': 'tt0918485',
  'original_language': 'en',
  'original_title': '638 Ways to Kill Castro',
  'overview': "Dollan Cannell's documentary on the hundreds of alleged plots to assassinate Fidel Castro, and a look at the evolution of Cuban politics. If the title of this extraordinary film sounds ludicrous, don't be fooled. This film looks at the incredible story of the 638 alleged plots by the CIA and Cuban exiles to kill the Cuban leader Fidel Castro.",
  'popularity': 3.52,
  'poster_path': '/9lqfi7hEGZMzI3rrAoGTcPuMupz.jpg',
  'production_companies': [{'id': 34469,
    'logo_path': '/vbfjmjUdlCS8gTnthosLTCw4UcG.png',
    'name': 'Silver River Productions',
    'origin_country': 'GB'}],
  'production_countries': [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}],
  'release_date': '2006-11-28',
  'revenue': 0,
  'runtime': 78,
  'spoken_languages': [{'english_name': 'Spanish',
    'iso_639_1': 'es',
    'name': 'Español'},
   {'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}],
  'status': 'Released',
  'tagline': '',
  'title': '638 Ways to Kill Castro',
  'video': False,
  'vote_average': 5.5,
  'vote_count': 10}]

In [58]:
v=[]
movies=pd.DataFrame(v)
tmdb_elements=['id']
for tmdb_element in tmdb_elements:
    #lists=[d[tmdb_element] for d in tmdb_details]
    #linksample[tmdb_element]=pd.DataFrame(lists)
    #a=pd.DataFrame(lists)
    for i in tmdb_details:
        v.append(i[tmdb_element])
        #print(v)
        tmdb_data=pd.DataFrame({'TMDBid':v})
    #print(pd.DataFrame(v))
    #print(type(pd.DataFrame(v)))
    #print(tmdb_element)
    #print(linksample[tmdb_element])
    v=[]

In [59]:
v=[]
movies=pd.DataFrame(v)
tmdb_elements=['production_countries']
for tmdb_element in tmdb_elements:
    #lists=[d[tmdb_element] for d in tmdb_details]
    #linksample[tmdb_element]=pd.DataFrame(lists)
    #a=pd.DataFrame(lists)
    for i in tmdb_details:
        v.append(i[tmdb_element][0]['name'])
        #print(v)
        data=pd.DataFrame({'TMDBid':v})
    print(pd.DataFrame(v))
    print(type(pd.DataFrame(v)))
    #print(tmdb_element)
    #print(linksample[tmdb_element])
    v=[]

                          0
0            United Kingdom
1                    France
2                    Canada
3                    Russia
4  United States of America
5  United States of America
6  United States of America
7                 Australia
8                     India
9            United Kingdom
<class 'pandas.core.frame.DataFrame'>

In [60]:
v=[]
movies=pd.DataFrame(v)
tmdb_elements=['imdb_id','budget','original_language','original_title','popularity','release_date',
              'revenue','runtime','vote_average','vote_count']
for tmdb_element in tmdb_elements:
    #lists=[d[tmdb_element] for d in tmdb_details]
    #linksample[tmdb_element]=pd.DataFrame(lists)
    #a=pd.DataFrame(lists)
    for i in tmdb_details:
        v.append(i[tmdb_element])
        #print(v)
    tmdb_data[tmdb_element]=pd.DataFrame(v)
    #print(pd.DataFrame(v))
    #print(type(pd.DataFrame(v)))
    #print(tmdb_element)
    #print(linksample[tmdb_element])
    v=[]
tmdb_data

,TMDBid,imdb_id,budget,original_language,original_title,popularity,release_date,revenue,runtime,vote_average,vote_count
0,149926,tt0085320,0,en,Champions,3.181,1984-04-20,0,106,7.0,12
1,29562,tt0079135,0,fr,Fascination,5.096,1979-11-01,0,80,6.2,58
2,412361,tt4579914,0,fr,Nitro Rush,7.388,2016-08-31,0,96,5.8,19
3,284713,tt0099860,0,ru,Искушение Б.,1.997,1991-07-01,0,84,6.0,8
4,497796,tt7694738,0,en,Best F(r)iends: Volume 2,5.913,2018-06-01,0,93,5.2,26
5,83384,tt1690455,0,en,Dark Horse,9.195,2011-09-05,0,86,5.7,78
6,347033,tt3958780,0,en,Equity,8.057,2016-07-29,1605463,100,5.7,75
7,13433,tt0304229,5740000,en,Japanese Story,6.791,2003-08-30,4098613,110,6.5,56
8,206324,tt2356180,4600000,hi,भाग मिल्खा भाग,7.860,2013-07-12,25000000,186,7.5,178
9,26370,tt0918485,0,en,638 Ways to Kill Castro,3.520,2006-11-28,0,78,5.5,10

In [61]:
# genome_scores=pd.read_csv('ml-25m/genome-scores.csv')
# genome_scores

In [7]:
# genome_tags=pd.read_csv('ml-25m/genome-tags.csv')
# genome_tags.head()

In [8]:
# movielen=genome_scores.merge(genome_tags,on='tagId')
# movielen

In [83]:
link=pd.read_csv('ml-25m/links.csv')
link.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [84]:
# movielen=genome_scores.merge(link,on='movieId')
# movielen

In [85]:
movie=pd.read_csv('ml-25m/movies.csv')
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [86]:
movielen=link.merge(movie,on='movieId')

In [87]:
rating=pd.read_csv('ml-25m/ratings.csv')
rating.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [88]:
# movielen_mean_rating=rating.groupby('movieId')['rating'].mean()
# rating.groupby('movieId')['rating'].count()

In [89]:
movielen_rating_count=pd.DataFrame(rating.groupby('movieId')
                                   ['rating'].count()).reset_index().rename(columns={'rating':'rating_counts'})
movielen_mean_rating=pd.DataFrame(rating.groupby('movieId')
                                  ['rating'].mean()).reset_index().rename(columns={'rating':'rating_mean'})

In [90]:
movielen=movielen.merge(movielen_mean_rating,on='movieId')

In [91]:
# tag=pd.read_csv('ml-25m/tags.csv')
# tag.head(20)
movielen=movielen.merge(movielen_rating_count,on='movieId')

In [92]:
# movielen=movielen.merge(tag,on='movieId')

In [93]:
movielen

,movieId,imdbId,tmdbId,title,genres,rating_mean,rating_counts
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.893708,57309
1,2,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy,3.251527,24228
2,3,113228,15602.0,Grumpier Old Men (1995),Comedy|Romance,3.142028,11804
3,4,114885,31357.0,Waiting to Exhale (1995),Comedy|Drama|Romance,2.853547,2523
4,5,113041,11862.0,Father of the Bride Part II (1995),Comedy,3.058434,11714
...,...,...,...,...,...,...,...
59042,209157,6671244,499546.0,We (2018),Drama,1.500000,1
59043,209159,297986,63407.0,Window of the Soul (2001),Documentary,3.000000,1
59044,209163,6755366,553036.0,Bad Poems (2018),Comedy|Drama,4.500000,1
59045,209169,249603,162892.0,A Girl Thing (2001),(no genres listed),3.000000,1
59046,209171,55323,79513.0,Women of Devil's Island (1962),Action|Adventure|Drama,3.000000,1

In [ ]:
import os
os.system(python .py)

In [29]:
imdb_data=pd.read_csv('title.crew.tsv',sep='\t')

In [30]:
imdb_data

            tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
8499811  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8499812  tt9916850  nm5519375,nm5519454  nm6182221,nm1628284,nm2921377
8499813  tt9916852  nm5519375,nm5519454  nm6182221,nm1628284,nm2921377
8499814  tt9916856           nm10538645                      nm6951431
8499815  tt9916880            nm0996406            nm1482639,nm2586970

[8499816 rows x 3 columns]